@page "{pageNumber:int:min(1)=1}"
@model IndexModel
@foreach (var item in Model.Data) {
    var id = $"q_{item.Id}";
    <article class="answer" id="@id">
        <section class="question">
            <header>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-question fa-stack-1x"></i>
                </span>
                <span class="info">
                    <i class="fa fa-tag"></i> @item.Category.Name
                    <i class="fa fa-clock-o"></i> <time value="@item.DateCreated"></time>
                    @if (!string.IsNullOrWhiteSpace(item.DisplayName)) {
                        <span><i class="fa fa-user"></i> @item.DisplayName</span>
                    }
                </span>
            </header>
            <plainText text="@item.QuestionText" html-encode="true"></plainText>
        </section>
        <section class="answer">
            <header>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-comment fa-stack-1x"></i>
                </span>
                <span class="info">
                    <i class="fa fa-clock-o"></i> <time value="@item.DateAnswered"></time>
                </span>
            </header>
            <plainText text="@item.AnswerText" html-encode="true"></plainText>
        </section>
    </article>
}
<vc:pager model="Model.Paging"></vc:pager>
