@page "/question/{questionId:int:min(1)}"
@model QuestionModel
@{ this.ViewBag.Title = $"Otázka číslo {Model.Data.Id}"; }

<article class="answer">
    <section class="question">
        <header>
            <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-question fa-stack-1x fa-inverse"></i>
            </span>
            <span class="info">
                <i class="fas fa-tag"></i> @Model.Data.Category.Name
                <i class="fas fa-calendar"></i> <time value="@Model.Data.DateCreated"></time>
                @if (!string.IsNullOrWhiteSpace(Model.Data.DisplayName)) {
                    <span><i class="fas fa-user"></i> @Model.Data.DisplayName</span>
                }
            </span>
        </header>
        <plainText text="@Model.Data.QuestionText" html-encode="true"></plainText>
    </section>
    <section class="answer">
        <header>
            <span class="fa-stack fa-lg">
                <i class="fas fa-square fa-stack-2x"></i>
                <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
            </span>
            <span class="info">
                <i class="fas fa-calendar"></i> <time value="@Model.Data.DateAnswered"></time>
            </span>
        </header>
        @if (string.IsNullOrWhiteSpace(Model.Data.AnswerText)) {
            <p>Otázka dosud nebyla zodpovězena.</p>
        }
        else {
            <plainText text="@Model.Data.AnswerText" html-encode="true"></plainText>
        }
        <footer for-login-status="true">
            <a asp-page="Admin/Index" asp-route-questionId="@Model.Data.Id" class="button"><i class="fas fa-commenting"></i> Upravit</a>
        </footer>
    </section>
</article>