@model PagedModel<Question>

@foreach (var item in Model.Data) {
    var id = $"q_{item.Id}";
    <article class="answer" id="@id">
        <section class="question">
            <header>
                <span class="fa-stack fa-lg">
                    <i class="fas fa-square fa-stack-2x"></i>
                    <i class="fas fa-question fa-stack-1x fa-inverse"></i>
                </span>
                <span class="info">
                    <i class="fas fa-tag"></i> @item.Category.Name
                    <i class="fas fa-calendar"></i> <a asp-page="Question" asp-route-questionId="@item.Id"><time value="@item.DateCreated"></time></a>
                    @if (!string.IsNullOrWhiteSpace(item.DisplayName)) {
                        <span><i class="fas fa-user"></i> @item.DisplayName</span>
                    }
                </span>
            </header>
            <plainText text="@item.QuestionText" html-encode="true"></plainText>
        </section>
        <section class="answer">
            <header>
                <span class="fa-stack fa-lg">
                    <i class="fas fa-square fa-stack-2x"></i>
                    <i class="fas fa-comment fa-stack-1x fa-inverse"></i>
                </span>
                <span class="info">
                    <i class="fas fa-calendar"></i> <time value="@item.DateAnswered"></time>
                </span>
            </header>
            <plainText text="@item.AnswerText" html-encode="true"></plainText>
            <footer for-login-status="true">
                <a asp-controller="Admin" asp-action="Index" asp-route-questionId="@item.Id" class="button"><i class="fas fa-commenting"></i> Upravit</a>
            </footer>
        </section>
    </article>
}
<vc:pager model="Model.Paging"></vc:pager>
